.inputCheck {
            border: 1px solid #ccc;
        }

        .inputCheck:checked {
            background-color: rgb(54, 225, 54);
        }

               .btn-red:hover {
            color: red;
        }

        .strike {
            position: relative;
            display: inline-block;
        }

        .strike::after {
            content: "";
            position: absolute;
            left: 0;
            top: 35%;
            width: 93%;
            height: 2px;
            background: white;
            transform: translateY(-50%);
        }

        .list ul::-webkit-scrollbar {
            width: 5px;
        }

        .list ul::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 20px;
        }

        /* Handle */
        .list ul::-webkit-scrollbar-thumb {
            background: white;
            border-radius: 10px;
        }

        /* Handle on hover */
        .list ul::-webkit-scrollbar-thumb:hover {
            background: black;
        }

        /* HTML: <div class="loader"></div> */
        .loader {
            --d: 22px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            color: #25b09b;
            box-shadow:
                calc(1*var(--d)) calc(0*var(--d)) 0 0,
                calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
                calc(0*var(--d)) calc(1*var(--d)) 0 2px,
                calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
                calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
                calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
                calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
            animation: l27 1s infinite steps(8);
            position: relative;
            top: 50%;
            left: 49%;
            z-index: 100;
            display: none;
        }

        @keyframes l27 {
            100% {
                transform: rotate(1turn)
            }
        }

        .goo {
            width: auto;
            height: auto;
            z-index: 100;
            background-color: white;
            position: absolute;
            inset: 0;
            display: none;
        }